
body{
	
	margin-left: 10%;
	margin-right: 10%;
	
	background-image: url("images/background_pic.gif");
}
.content{
	border: 5px green solid;
	background-color: white;
	
}

#h2header{
	border: 5px orange solid;
}

.header{
	border: 5px red solid;
}

.date{
	border: 5px purple solid;
}

.article{
	padding: 10px;
	margin-top: 10px;
	background-color: #E8FBFB;
	border: 5px blue solid;
}